body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255,255,255);
}

.navbar-div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 216);
}
.main-logo-img{
    margin-left: 120px;
    margin-top: 10px;
    width: 120px;
    padding: 3px;
}
.button-div{
    display: flex;
    margin: 10px 120px;
    gap: 18px;
}
.login-btn{
   background-color: rgb(249,249,249);
   border: 1px solid rgb(212, 212, 216);
   width: 60px;
   padding: 3px 4px;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma;
}
.login-btn:hover{
    background-color: rgb(240, 240, 240);
}
.signup-btn{
     background-color: #059669;
     padding: 3px 12px;
     border-radius: 5px;
     cursor: pointer;
     text-align: center;
     font-family: 'Segoe UI', Tahoma;
     color: rgb(240, 240, 240);
     font-weight: 500;
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    .navbar-div {
        max-width: 100%;
        padding: 0 20px;
    }

    .main-logo-img {
        margin-left: 20px;
    }

    .button-div {
        margin: 10px 20px;
        gap: 10px;
    }
}

@media screen and (max-width:500px) {
    .navbar-div {
        max-width: 100%;
        padding: 0 20px;
    }
    .main-logo-img {
        margin-left: 5px;
    }
    .button-div {
        margin: 10px 5px;
        gap: 10px;
    }
}
